.flex
    display flex
    align-items flex-start
    align-content flex-start
    flex-wrap wrap

    &--10
        width 10%

    &--20
        width 20%

    &--30
        width 30%

    &--40
        width 40%

    &--50
        width 50%

    &--60
        width 60%

    &--70
        width 70%

    &--80
        width 80%

    &--90
        width 90%

    &--100
        width 100%

    &--x-align-center
        justify-content center

    &--x-align-evenly
        justify-content space-evenly

    &--x-align-around
        justify-content space-around

    &--x-align-between
        justify-content space-between

    &--x-align-end
        justify-content flex-end

    &--y-align-center
        align-content center
        align-items center

    &--y-align-end
        align-items flex-end

    &--direction-column
        flex-direction column
